.content-container {
    display: flex;
    flex-direction: column; 
    margin: 2vw; 
}

.paper-image-container-cyclic {
    margin: 2vw; 
    width: 50vw;
    height: 60vh; 
    margin-left: 25vw; 
}