.outer-project-container {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1vw; 
    padding: 1vw; 
}

.project-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-button {
    margin: 7vw; 
    padding: 1vw; 
    border-radius: 5px;
}

.inner-button-container {
    display: flex;
    flex-direction: row;
}

.project-container {
    display: flex;
    flex-direction: row; 
}

.project-preview-button {
    display: flex;
    flex-direction: column;  
    margin: 8vw;
    padding: 1vw; 
    border-radius: 5px; 
    background-color: #cccccc;
}

.faq-project-list {
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.project-buttons {
    border-radius: 10px; 
}